<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap" rel="stylesheet">
    <title>Enter test</title>
</head>
<body>
    <div id="form">
        <h1>Enter test </h1>
        <input type="text" placeholder="Roll Number">
        <input type="text" placeholder="Name">
        <button>LOGIN</button>
    </div>
    
</body>
</html>